{% layout settings.customer_layout %}
<h2>Reset Account Password</h2>
<p class="hint">Enter a new password for {{ email }}</p>
{% form 'reset_customer_password' %}
	{{ form.errors | default_errors }}
	<input type="password" placeholder="password" value="" name="customer[password]" />
	<input type="password" placeholder="confirm password" value="" name="customer[password_confirmation]" />
	<button type="submit">Reset Password</button>
{% endform %}